<div class="container">
    <div class="item"><p class="center">2</p></div>
    <div class="item"><p class="center">3</p></div>
    <div class="item"><p class="center">5</p></div>
    <div class="item"><p class="center">7</p></div>
    <div class="item"><p class="center">11</p></div>
    <div class="item"><p class="center">13</p></div>
    <div class="item"><p class="center">17</p></div>
    <div class="item"><p class="center">19</p></div>
    <div class="item"><p class="center">23</p></div>
    <div class="item"><p class="center">29</p></div>
    <div class="item"><p class="center">31</p></div>
    <div class="item"><p class="center">37</p></div>
    <div class="item"><p class="center">41</p></div>
    <div class="item"><p class="center">43</p></div>
    <div class="item"><p class="center">47</p></div>
    <div class="item"><p class="center">53</p></div>
    <div class="item"><p class="center">59</p></div>
    <div class="item"><p class="center">61</p></div>
    <div class="item"><p class="center">67</p></div>
    <div class="item"><p class="center">71</p></div>
    <div class="item"><p class="center">73</p></div>
    <div class="item"><p class="center">79</p></div>
    <div class="item"><p class="center">83</p></div>
    <div class="item"><p class="center">89</p></div>
    <div class="item"><p class="center">97</p></div>

</div>